<div class="container mt-4">
    <div class="row">
        <h1>Listado de estudiantes</h1>
        <button class="btn btn-primary col-2" (click)="mostrarNoMostrar()">Mostrar botón</button>
    </div>
    <div *ngIf="mostrar">
        <br>
        <table class="table">
            <thead>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Estado</th>
            </thead>
            <tbody>
                <tr *ngFor = "let estudiantes of listadoEstudiantes; let i = index" [ngSwitch]="estudiantes.estado">
                    <td>{{i+1}}</td>
                    <td>{{estudiantes.nombre}}</td>
                    <!-- <td [ngStyle]="{'font-style':estudiantes.estado == 'Promocionado'?'italic':'normal'}">{{estudiantes.estado}}</td> -->
                    <!-- <td><span [ngClass]="estudiantes.estado == 'Promocionado' ? 'badge bg-success':'badge bg-secondary'">{{estudiantes.estado}}</span></td> -->
                    <td>
                        <span *ngSwitchCase="'Promocionado'" class="badge bg-success">{{estudiantes.estado}}</span>
                        <span *ngSwitchCase="'Regular'" class="badge bg-secondary">{{estudiantes.estado}}</span>
                        <span *ngSwitchCase="'Recursante'" class="badge bg-danger">{{estudiantes.estado}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
